.container {
    padding-top: 15px;
}
.h1{
    padding-top: 15px;
}
.card-body{
    transition: all .5s;
    border: 10px solid transparent;
}
.card-body:hover{
    border: 2px solid #00fa68;
    border-radius: 5%;
}