.container {
    padding-top: 15px;
}
.h1{
    padding-top: 15px;
}
.card-body{
    transition: all .5s;
    border: 3px solid transparent;
}
.card-body:hover{
    border: 6px solid #00fa68;
    border-radius: 1%;
}
.pagina:hover{
    color: aqua !important;
}